<div class="col">
    <mat-card class="card">

        <mat-card-content class="content">
            <p>Votre adresse email n'a pas été vérifiée. Un email vous a été envoyé lors de votre inscription au site de la JALP</p>
            <p>Si vous n'avez pas reçu l'émail de vérification, cliquez sur le bouton "Me renvoyer l'email de vérification", pour l'envoyer de nouveau</p>
            <p>L'équipe de la Jeanne d'Arc</p>

        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button (click)="onSendAgain()">Me renvoyer l'email de vérification</button>
        </mat-card-actions>
    </mat-card>



</div>
