<div class= "container pt-5">
    <div class="row">
        <div class="col">
            <div class="row mb-3 justify-content-center">
                <mat-card class="card">
                    <!-- <mat-card-header>
                        <mat-card-title class="title">
                            Connexion à votre compte
                        </mat-card-title>
                    </mat-card-header> -->
                    <mat-card-content>
                        <div class="row">
                            <div class="col" >
                                <form [formGroup]="ExpressForm" autocomplete="off" novalidate>
                                    <mat-form-field class="input-full-width">
                                        <input matInput type="text" formControlName="expressInput" placeholder="Exprimez-vous">
                                    </mat-form-field>                                
                                </form>
                            </div>
                            
                        </div>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-stroked-button (click)=onSubmit()>Connexion</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
            <div class="row mb-3 justify-content-center">
                <mat-card class="card-news">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
    
            </div>
            <div class="row mb-3 justify-content-center">
                <mat-card class="card-news">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
    
            </div>
        </div>
        
        
    </div>
    
</div>
