<div class="container pt-5">
  <div class="row" style="max-width: 650px;">
    <div class="col">

      <div class="row mb-3 justify-content-center">
        <mat-card class="card-news__create d-flex">
          <mat-card-content class="w-100">
            <form [formGroup]="SendNewsForm" autocomplete="off">
              <div class="row ms-2 me-2">
                <div class="col" style="max-width: max-content;">
                  <div mat-card-avatar class="avatar-image"
                    style="background-image: url('{{ userConnected.imageURL }}')"></div>
                </div>
                <div class="col">
                  <div class="row flex-nowrap w-100">
                    <mat-form-field style="width: 93%;">
                      <input matInput type="text" formControlName="sendFeedInput" placeholder="Exprimez-vous">
                    </mat-form-field>
                    <div matButton class="btn btn-send" (click)="Send()">
                      <mat-icon>send</mat-icon>
                    </div>
                  </div>
                </div>
               

              </div>
              <div class="row mb-3">
                <div class="image-container">
                  <img id="imageNews" class="card-image" [src]="imagePreview" alt="Photo News" *ngIf="imagePreview">
                </div>
              </div>
              <div class="row">
                <input type="file" name="image" accept="image/*" #imageInput formControlName="sendFeedFile"
                  (change)="onFileAdded($any($event).target.files)" style="display: none;">
                <button class="btn-image" (click)="selectFile()">
                  <mat-icon class="center-icon">photo_library</mat-icon>
                </button>
              </div>
            </form>


          </mat-card-content>
        </mat-card>
      </div>
      <div class="row mb-3 justify-content-center flex-column" *ngIf="newsList">
        <mat-card class="card-news" *ngFor="let new of newsList">
          <mat-card-header>
            <div mat-card-avatar class="avatar-image" style="background-image: url('{{ new.user.imageURL }}')"></div>
            <mat-card-title>{{ new.user.firstname}} {{ new.user.lastname }}</mat-card-title>
            <button class="btn-delete btn-delete_news" title="Supprimer news" (click)="deleteNews(new.id)"
              *ngIf="isAdmin || new.user.id == userConnected.id">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-card-header>

          <mat-card-content>
            <div class="image-container mt-3 mb-3">
              <img class="card-image" src="{{ new.imageURL }}">
              <i class="heart fas fa-heart" (click)="onLike(new.id)"></i>
            </div>

            <div class="ps-3 me-5">{{ new.message }}</div>
            <div *ngIf="new.comments">
              <div class="row m-3 flex-nowrap" style="position: relative;" *ngFor="let comment of new.comments">
                <div mat-card-avatar class="avatar-image me-4"
                  style="background-image: url('{{ comment.user.imageURL }}')"></div>
                <div class="row comment">
                  <div class="comment--name">{{ comment.user.firstname }} {{ comment.user.lastname }}</div>
                  <div>{{ comment.message }}</div>
                </div>
                <button class="btn-delete btn-delete_comment" title="Supprimer commentaire"
                  (click)="deleteComment(comment.id)" *ngIf="isAdmin || userConnected.id == comment.user.id">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </div>

            <div class="row m-3 flex-nowrap pe-3">
              <div mat-card-avatar class="avatar-image me-4"
                style="background-image: url('{{ userConnected.imageURL }}')"></div>
              <div class="row">
                <form [formGroup]="NewsFeedForm" class="d-flex flex-nowrap">
                  <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="answerNewsInput" placeholder="Répondre"
                      style="width: 100%;">

                  </mat-form-field>
                  <button id="btnAnswerNews_{{ new.id }}" class="btn" (click)="SendAnswer($event)">
                    <mat-icon id="iconBtnAnswerNews_{{ new.id }}">send</mat-icon>
                  </button>
                </form>

              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>