<div class="row">
   <div class="col justify-content-center d-flex">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="tittle">
                Veuillez vous connecter pour accéder aux fonctionnalités de l'application
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col" >
                    <form [formGroup]="signInForm" autocomplete="off" (ngSubmit)=onLogin()>
                        <div>
                            <p *ngIf="errorMessage.length > 0" class="text-danger">
                                {{errorMessage}}
                            </p>
                            <p *ngIf="error.message.length > 0" class="text-danger">
                                {{error.message}}
                            </p>
                        </div>
                        <mat-form-field class="input-full-width">
                            <input matInput type="email" formControlName="email" placeholder="Entrer une adresse email" required>
                            <mat-hint *ngIf="!emailInput"></mat-hint>
                        </mat-form-field>
                    
                        <mat-form-field class="input-full-width">
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Entrer un mot de passe" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-hint *ngIf="!passwordInput"></mat-hint>
                        </mat-form-field>
                    
                    </form>
                </div>
                
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button type="submit">Connexion</button>
        </mat-card-actions>
    </mat-card>


</div> 
</div>

