  .input-full-width {
    width: 100%;
    max-width: 500px;
  }
  
  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    max-width: 600px;
    min-width: 250px;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #modifImage {
    position: absolute;
    bottom: 2px;
    right: 23px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
  }

  .center-icon {
    position: absolute;
    left: 3px;
    top: 3px;
    color: black;
  }

  #imageProfile {
    background-size: cover;
  }