#main-wrapper {
    height: 100%;
}

#logo {
    max-width: 8em;
}

li {
    border-radius: 15px;
    background-color: white;
    height: 29px;
    width: 29px;
    margin-right: 20px;
}

a {
    position: relative;
    padding: 0;
    width: 30px;
}

.center-icon {
    position: absolute;
    left: 3px;
    top: 2px;
    // line-height: 15px;
    color: black;
}

.center-icon-btn {
    position: absolute;
    left: 2px;
    line-height: 5px;
    color: black;
}

.btn {
    width: 30px;
    height: 30px;
    // border-radius: 20px;
    position: relative;
}

#imageProfile {
    height: 31px;
    width: 31px;
    border-radius: 15px;
    background-size: cover;
    background-position-x: center;
}

