
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-connect-e-primary: mat-palette($mat-indigo);
$frontend-connect-e-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-connect-e-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-connect-e-theme: mat-light-theme($frontend-connect-e-primary, $frontend-connect-e-accent, $frontend-connect-e-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-connect-e-theme);

/* You can add global styles to this file, and also import other style files */


$color-site: #142566;

$breakpoint: (
    sm : 576px, // à partir de 
    md: 768px,
    lg: 992px,
    xl: 1260px
);

@mixin size-sm-bootstrap {
    @media screen and (min-width: map-get($breakpoint, sm)) {
        @content;
    }
}

#header {
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// header {
//     display: flex;
//     justify-content: space-between;
//     position: absolute;
//     top: 0;
//     right: 0;

//     & .header__logo {
        
        
//         & img {
           
//             border: 1px solid blue;
//         }
//     }
 
// }

.nav {
    background-color: $color-site;
    // color: white;
    width: 100%;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

#navbarSupportedContent {
    @include size-sm-bootstrap {
        max-width: max-content;
    };
    

}

html { 
    height: 100%;
    // background-image: url(./app/components/images/Groupomania.webp);
    // background-repeat:no-repeat;
    // background-attachment:fixed;
    
    // background: url(./app/components/images/Groupomania.webp) no-repeat center center fixed; 
    // background-size: cover;
}

body { 
    min-height: 100vh; 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url(./app/components/images/Groupomania.webp) no-repeat center center fixed; 
    background-size: cover;
}

// .footer {
//     background-color: darken($color: $color-site, $amount: 10%);
// }
