
.btn {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 35px;
}

h1, p {
    // color: white;
    position: relative;
    justify-content: center;
    display: flex;
}

img {
    position: relative;
}

