<div class="container d-flex h-100 align-items-center justify-content-center">
    <div class="row justify-content-center h-100 flex-column flex-nowrap" style="position: relative; width:100%;">
            <div class="row justify-content-center">
                <h1>Réseau social interne - Grouporama</h1>
                <p>Bienvenue sur l'application de discussion entre collègues de Grouporama</p>
            </div>
            <div class="row justify-content-center">
                <!-- <img src="../images/backgroung.webp" alt=""> -->
                <!-- <img src="D:\Workspace\Openclassroom\Projet 7 - Créez un réseau social d'entreprise\Gautier_Gaetan_7_03102021\frontend-connect-e\src\app\components\images\backgroung.webp" alt=""> -->
                <button class="btn btn-circle mat-stroked-button"><a routerLink="/login">Se connecter</a></button>
                <button class="btn" mat-stroked-button><a routerLink="/signup">Créer un compte</a></button>
            </div>
            
    </div>

</div>
  
